{% doc %}
  Renders either the options for the product, or the variant selectors

  @param {product} product - The product
{% enddoc %}

<div x-intersect:enter.threshold.50="showStickyAddToCart = false" x-intersect:leave="showStickyAddToCart = true">
  {% liquid
    if product.options.size > 1
      render 'pdp-option-selectors', product: product
    else
      render 'pdp-variant-selectors', product: product
    endif
  %}
</div>
