<div class="password-page__footer">
  {% content_for 'blocks' %}
</div>

{% stylesheet %}
  .password-page__footer {
    padding-block: 1.125rem;
    padding-inline: 2rem;
    background-color: #5c003b;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Password page footer",
  "blocks": [{ "type": "@theme" }],
  "settings": []
}
{% endschema %}
