{% liquid
  assign product = block.settings.product
  assign inventory_quantity = 0
  assign variant_count = 0

  if product
    for variant in product.variants
      assign variant_inventory_quantity = variant.inventory_quantity
      if variant_inventory_quantity <= 0
        continue
      endif

      assign inventory_quantity = inventory_quantity | plus: variant_inventory_quantity
      assign variant_count = variant_count | plus: 1
    endfor
  endif

  if variant_count == 1
    assign formatted_inventory_quantity = inventory_quantity | divided_by: 2
  else
    assign formatted_inventory_quantity = inventory_quantity | divided_by: variant_count
  endif
%}

<div class="text-white text-center uppercase font-bold">
  {{ 'general.password_page.boxes_remaining' | t: boxes_count: formatted_inventory_quantity }}
</div>

{% schema %}
{
  "name": "Countdown",
  "settings": [
    {
      "type": "product",
      "id": "product",
      "label": "Product"
    }
  ],
  "presets": [
    {
      "category": "BFCM",
      "name": "Countdown"
    }
  ]
}
{% endschema %}
