{% form 'storefront_password' %}
  {% if form.errors %}
    <div class="text-scheme-accent-1">
      {{ form.errors | default_errors }}
    </div>
  {% endif %}
  <label
    class="font-secondary mb-2 mt-4 block text-sm"
    for="Password"
  >
    {{- 'general.password_page.login_form_password_label' | t -}}
  </label>
  <input
    type="password"
    name="password"
    id="Password"
    class="input w-full"
    style="--color-button-border: 0, 0, 0;"
  >
  <button
    type="submit"
    name="commit"
    class="push-btn mt-5 w-full"
  >
    <span class="push-btn__surface w-full">
      {{- 'general.password_page.login_form_submit' | t -}}
      {%- if settings.buttons_show_arrow -%}
        &nbsp;&rarr;
      {%- endif -%}
    </span>
  </button>
{% endform %}

{% stylesheet %}
  .push-btn {
    isolation: isolate;
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Password page form",
  "presets": [
    {
      "category": "Password page",
      "name": "Password page form"
    }
  ]
}
{% endschema %}
