<div class="password-page-new">
  <div class="card password-page__card">
    <div class="card__surface">
      <div class="password-page__content">
        {% content_for 'blocks' %}
        {% content_for 'block', type: '_password-page-form', id: 'form' %}
      </div>
      {% content_for 'block', type: '_password-page-footer', id: 'footer' %}
    </div>
  </div>
</div>

{% stylesheet %}
  .password-page-new {
    display: flex;
    justify-content: center;
    padding-block: 5rem;
  }
  @media (width >= 990px) {
    .password-page__card {
      max-width: 57.5rem;
    }
  }
  .password-page__card .card__surface {
    background-color: transparent;
    overflow: clip;
    /* border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-bottom: 0px; */
  }
  .password-page__content {
    background-color: rgba(var(--color-scheme-card), var(--tw-bg-opacity));
    --tw-bg-opacity: 1;
    display: grid;

    gap: 1rem;
    padding-inline: 2rem;
    padding-block: 1.5rem;
  }
  @media (width >= 990px) {
    .password-page__content {
      gap: 2rem;
    }
  }
{% endstylesheet %}

{% schema %}
{
  "name": "Password Page 2025",
  "enabled_on": { "templates": ["password"] },
  "blocks": [
    {
      "type": "@theme"
    },
    { "type": "_password-page-form" }
  ],
  "settings": [],
  "presets": [
    {
      "category": "Password page",
      "name": "BFCM 2025 Password Page"
    }
  ]
}
{% endschema %}
