.tag {
  font-size: 0.75rem;
  display: block;
  background-color: rgba(0, 0, 0, 0.25);
  padding-block: 0.5rem;
  padding-inline: 0.45rem;
  line-height: 0.25rem;
  border-radius: 999rem;
  margin-inline: 0.25rem;
}
